
.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-item {
background-color: rgb(191, 250, 250);
text-align: center;
line-height: 50px;
width: calc(50% - 20px);
height: 50px;
}

.flex-item3 {
    width: calc(100% - 20px);
}
@media screen and (max-width:1024px){
    .flex-item {
        width: calc(100% - 20px);
    }
}
