*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header {
    height: 50px;
    background-color: aqua;
    color: white;
    line-height: 50px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    gap: 10px;
    height: calc(100vh - 120px);
}
.sidebar {
    width: 25%;
    background-color: rgb(218, 132, 28);
    color: beige;
}
.content {
    flex: 1;
    background-color: rgb(16, 234, 161);
    color: white;
}
.footer {
    height: 50px;
    background-color: purple;
    margin-top: 10px;
    color: white;
}